

.md .button{

  width: 35%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  color: white!important;
  font-weight: 500;
}

.btn-gri{
  background-color: #75757E;
}

.btn_green{
  background-color: #42ae65;

}

.z{z-index: -1!important;}

